@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Hubballi&family=Montserrat:ital,wght@0,400;1,700&family=Rubik+Burned&family=Rubik+Glitch&family=Rubik+Iso&family=Stint+Ultra+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Stint Ultra Condensed';
}body{
    height: 100vh;
    background: linear-gradient(120deg, rgb(101, 245, 101), rgb(71, 71, 243), rgb(97, 44, 243));
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 5);
} 

.relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(5, 5, 5, 0.9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span{
    font-weight: bolder;
    font-size: 40px;
}
.relogio span.tempo{
    font-size: 10px;
}